@import url(https://at.alicdn.com/t/font_868088_d5lb71ximqt.css);
.fx{-webkit-text-stroke-width:0;}
/********************* ↑ icon图标 ↑ *************************/
html,body{font-size:calc(100vw/37.5);height:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100% !important;font-family: "Roboto", "Open Sans", "PingFang", "PingFang SC", "PingFang HK", "PingFang TC", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue",'\5FAE\8F6F\96C5\9ED1',Arial,'\9ED1\4F53','\5B8B\4F53', sans-serif;}
*{margin:0;padding:0;box-sizing:border-box;-webkit-touch-callout:none;}
html,body,div,ul,ol,li,dl,dt,dd,form,input,textarea,table,h1,h2,h3,h4,p,span,a,em,i,img{font-style:normal;}
iframe,a,img{border:none;}
video{object-fit:fill}
a,a:hover,a:visited,a:active{text-decoration:none;color:inherit;}
ol,ul{list-style-type:none;}
ul li, ol li{list-style:none;}
h1,h2,h3{font-weight:normal;}
table{border-collapse:collapse;}
button,input,select,textarea{font:inherit;outline:0;border:0;border-radius:0;-webkit-tap-highlight-color:transparent;appearance:none;-webkit-appearance:none;background:0 0;line-height:normal;-webkit-writing-mode:horizontal-tb;resize:none;color:inherit;white-space:pre-wrap;word-wrap:break-word;-webkit-rtl-ordering:logical;user-select:text}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button,input::-webkit-search-cancel-button{-webkit-appearance:none !important;}  /*移除表单默认样式*/
input[type=file]{position:absolute;top:0;left:0;bottom:0;right:0;opacity:0;width:100%;height:100%;}
.twinkle{-webkit-tap-highlight-color:transparent;}  /*ios下点击闪现灰色半透明背景*/
/**************************************************/
.flex{display:-webkit-box;}
.flexv{display:-webkit-box;-webkit-box-orient:vertical;}  /*垂直排列*/
.flexitem{display:-webkit-box;-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.flexitemv{display:-webkit-box;-webkit-box-flex:1;-webkit-flex:1;flex:1;-webkit-box-orient:vertical;}
.center{-webkit-box-align:center;-webkit-box-pack:center;}
.centerv{-webkit-box-align:center;}  /*垂直居中*/
.centerh{-webkit-box-pack:center;}  /*水平居中*/
.endh{-webkit-box-pack:end;}  /*水平向右*/
.endv{-webkit-box-align:end;} /*垂直向下*/
.endhc{-webkit-box-align:end;-webkit-box-pack:center;}  /*水平结构居中底部,垂直结构居中靠右*/
.endvc{-webkit-box-align:baseline;-webkit-box-pack:end;} /*水平结构右上角,垂直结构居中底部*/
.end{-webkit-box-align:end;-webkit-box-pack:end;}
.between{display:flex;justify-content:space-between;align-items:center;} /*水平两端对齐*/
.aroundh{display:flex;justify-content:space-around;align-items:center;}  /*水平等间距*/
.aroundv{display:flex;flex-direction:column;justify-content:space-around;} /*垂直等间距*/
.cross{display:flex;flex-direction:column;justify-content:space-between;}  /*垂直对齐两端*/
.crossc{display:flex;flex-direction:column;justify-content:space-between;align-items:center;}  /*垂直对齐两端居中*/
.cross-end{display:flex;flex-direction:column;justify-content:space-between;align-items:flex-end;}  /*垂直对齐两端靠右*/
.br{display:flex;flex-wrap:wrap;}  /*换行*/
.unbr{display:flex;flex-wrap:nowrap} /*不换行*/
.wrap{height:100%;}
.fitimg{width:100%;height:100%;object-fit:cover;}
.radimg{width:100%;height:100%;border-radius:50%;object-fit:cover;}
.mainbox{position:relative;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;}
element::-webkit-scrollbar,.mainbox::-webkit-scrollbar{display:none;} /*清除滚动条*/
/************************ 动画 **************************/
@keyframes progresses{0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}
@-webkit-keyframes progresses{0%{-webkit-transform: rotate(0deg);}100%{-webkit-transform: rotate(360deg);}}
@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3);}50%{opacity:1}}
@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3);}50%{opacity:1}}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}
@-webkit-keyframes fadeOutUp{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}
@keyframes fadeOutUp{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}
/********************** ios开关样式 ********************/
#uiswitch{width:4.4rem;height:2.4rem;position:relative;border-radius:1.6rem;cursor:pointer;z-index:0;background-color:#999;transition-duration:.6s;transition-timing-function:ease-in-out}
#uiswitch::after{content:'';width:2rem;height:2rem;position:absolute;border-radius:27px;background:#fff;z-index:2;top:2px;left:2px;box-shadow:0 0 1px 0 rgba(0,0,0,.25),0 4px 11px 0 rgba(0,0,0,.08),-1px 3px 3px 0 rgba(0,0,0,.14);-webkit-transition:-webkit-transform .3s,width 280ms;transition:transform .3s,width 280ms;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition-timing-function:cubic-bezier(.42,.8,.58,1.2);transition-timing-function:cubic-bezier(.42,.8,.58,1.2)}
#uiswitch:checked{background-color:#4CD964;background-image:-webkit-linear-gradient(-90deg,#4CD964 0,#4dd865 100%);background-image:linear-gradient(-180deg,#4CD964 0,#4dd865 100%)}
#uiswitch:checked::after{-webkit-transform:translate3d(16px,0,0);transform:translate3d(16px,0,0);right:18px;left:inherit}
/********************* 加载动画 *************************/
#loading{position:fixed;top:0;right:0;left:0;bottom:0;background:rgba(0,0,0,0.2);z-index:99999999;}
#loading .container{position:absolute;top:50%;left:50%;margin-left:-6rem;margin-top:-6rem;width:10rem;height:10rem;padding:1rem;border-radius:.6rem;background:#333;display:-webkit-box;-webkit-box-pack:center;-webkit-box-align:center;-webkit-box-orient:vertical;overflow:hidden}
#loading .loader,#loading .loader:before,#loading .loader:after{border-radius:50%;}
#loading .loader:before,#loading .loader:after {position:absolute;content:'';}
#loading .loader:before{width:2.2rem;height:4.4rem;background:#333;border-radius:4.4rem 0 0 4.4rem;top:-.2rem;left:-.4rem;-webkit-transform-origin:2.2rem 2.1rem;transform-origin:2.2rem 2.1rem;-webkit-animation:progresses 2s infinite ease 1.5s;animation:progresses 2s infinite ease 1.5s}
#loading .loader{font-size:11px;text-indent:-99999em;margin:0 auto;position:relative;width:4rem;height:4rem;box-shadow:inset 0 0 0 .4rem #FFF}
#loading .loader:after{width:2.2rem;height:4.4rem;background:#333;border-radius:0 4.4rem 4.4rem 0;top:-.3rem;left:2rem;-webkit-transform-origin:0 2.3rem;transform-origin:0 2.3rem;-webkit-animation:progresses 2s infinite ease;animation:progresses 2s infinite ease}
#loading .text{text-align:center;padding-top:.8rem;font-size:1.6em;color:#fff}
/*********************   弹框   *************************/
#alert{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.5);z-index:10;}
#alert .mask{position:absolute;top:0;right:0;bottom:0;left:0;}
#alert .content{position:absolute;top:16rem;left:10%;width:80%;border-radius:1.2rem;overflow:hidden;animation:zoomIn .2s linear .2s both;}
#alert .content .title{padding:1rem 0;font-size:1.8rem;}
#alert .content .text{padding:1rem;font-size:1.6rem;}
#alert .content .button{padding:1rem 0;}
#alert .content .button a.btn{background:#fda422;padding:1rem 2rem;border-radius:2rem;font-size:1.6rem;color:#fff;}
/********************* 共有属性 *************************/
html,body{background:#f7f3f0;}
.bg_white{background:#fff;}
.bg_grad{background:linear-gradient(to right top, #e88f0a, #fabc5f);}

/********************* 我的 *************************/
#home .head{padding:2rem 0 5rem 1rem;font-size:1.8rem;}
#home .head .userInfo .img{width:6rem;height:6rem;border-radius:50%;overflow:hidden;border:1px solid #fff;}
#home .head .userInfo .name{margin:0 1rem;color:#fff;max-width:18rem;-webkit-line-clamp:1;overflow:hidden;}
#home .head .userInfo .fx-redact{font-size:2rem;color:#fff;}
#home .head .back{padding:.6rem 1rem;color:#fdb143;border-top-left-radius:2rem;border-bottom-left-radius:2rem;}
#home .nav_lists,#Income .nav_lists{padding:0 1rem;position:absolute;top:10rem;left:50%;width:100%;transform:translateX(-50%);}
#home .nav_lists .bg_white,#Income .nav_lists .bg_white{margin-bottom:2rem;box-shadow:0 2px 10px 0 #ccc;border-radius:1rem;font-size:1.6rem;}
#home .nav_lists .nav,#Income .nav_lists .nav{padding:.6rem 0;}
#home .nav_lists .bg_white i.fx,#Income .nav_lists .bg_white i.fx{font-size:2.6rem;}
#home .nav_lists .nav i.fx{color:#fdb143;}
#home .nav_lists .list,#Income .nav_lists .list{padding:1rem;border-bottom:1px solid #eee;}
#home .nav_lists .list:last-child,#Income .nav_lists .list:last-child{border-bottom:none;}
#home .nav_lists .list span,#Income .nav_lists .list span{margin-left:1rem;}
#home .nav_lists .promote i.fx{color:#e4b1b4;}
#home .nav_lists .history i.fx{color:#f5c06e;}
#home .nav_lists .service i.fx{color:#75e8e6;}
#alert .qrcode_box .qrcode-img{margin:0 auto;padding:0 2rem;width:20rem;}
#alert .qrcode_box .text{margin-bottom:1rem;}
/******************** 推广明细 ***********************/
#detail .nav{background:#fdb143;font-size:1.8rem;color:#fff;}
#detail .nav a span{padding:1rem 0;border-bottom:4px solid transparent;}
#detail .nav a.current span{border-color:#fff;}
#detail .content>.box{display:none;width:100%;}
#detail .content>.box.current{display:table}
#detail .content .all{padding:1rem;font-size:1.6rem;}
#detail .content .all .between{padding:1rem .6rem;}
#detail .content .all .bg_white{box-shadow:0 2px 10px 0 #ccc;}
#detail .content .all .total{margin-bottom:1rem;border-radius:.4rem;color:#fdb143;}
#detail .content .all .list{border-radius:.4rem;}
#detail .content .all .list>div{border-bottom:1px solid #eee;}
#detail .content .all .list>div:last-child{border-bottom:none;}
#detail .content table.box thead{background:#f94d43}
#detail .content table.box tr{height:3rem}
#detail .content table.box tr.vip{color:#f00;}
#detail .content table.box th,#detail .content table.box td{text-align:center;border:1px solid #ad9006;}
#detail .content table.box th{height:4rem;font-size:1.5rem;}
#detail .content table.box td{font-size:1.4rem;}
/******************** 服务历史 ***********************/
#service{padding:1rem 1rem 0;}
#service .list{margin-bottom:1rem;padding:1rem 1rem 1rem 1.4rem;border-left:.6rem solid #fdb143;box-shadow:0 2px 10px 0 #ccc;font-size:1.6rem;}
#service .list>div{padding:.2rem 0;}
#service .list>div>span{width:8rem;}
#service .list div.text{width:calc(100% - 8rem);}
/******************** 开通记录 ***********************/
#open_record{padding:0 1rem;}
#open_record .hint{padding:.4rem 0;font-weight:bold;font-size:1.4rem;color:#f00;}
#open_record .list{padding:1rem;}
#open_record .list{margin-bottom:1rem;font-size:1.5rem;color:#fff;}
#open_record .list .price{padding:.7rem 0;}
#open_record .list span.num{font-size:3rem;}
#open_record .list span.unit{margin:0 0 .4rem .4rem;}
#open_record .family{background:url("../image/orange.png")no-repeat;background-size:100% 100%;}
#open_record .family .type{width:12rem;}
#open_record .wufu{background:url("../image/red.png")no-repeat;background-size:100% 100%;}
#open_record .wufu .type,#open_record .sanfu .type,#open_record .zhizun .type,#open_record .zuanshi .type,#open_record .bojin .type{width:5rem;}
#open_record .sanfu{background:url("../image/red.png")no-repeat;background-size:100% 100%;}
#open_record .person{background:url("../image/blue.png")no-repeat;background-size:100% 100%;}
#open_record .person .type{width:16rem;}
#open_record .zhizun{background:url("../image/gray.png")no-repeat;background-size:100% 100%;}
#open_record .zuanshi{background:url("../image/gray.png")no-repeat;background-size:100% 100%;}
#open_record .bojin{background:url("../image/gray.png")no-repeat;background-size:100% 100%;}
/******************** 申请提现 ***********************/
#withdraw .heads{position:relative;background:#fda422;padding-bottom:5rem;color:#fff;}
#withdraw .heads .bottom{position:absolute;bottom:0;left:0;height:3rem;}
#withdraw .heads .title{position:relative;margin-top:1rem;font-size:1.7rem;}
#withdraw .heads .title:before,#withdraw .heads .title:after{content:'';width:6rem;height:1px;background:#fff;position:absolute;top:50%;}
#withdraw .heads .title:before{left:10%;}
#withdraw .heads .title:after{right:10%;}
#withdraw .heads .account_box{margin:1rem 0;padding:0 2rem;}
#withdraw .heads .account_box .name{padding-bottom:1rem;font-size:1.8rem;}
#withdraw .heads .account_box .num{font-size:1.6rem;}
#withdraw .heads .account_box i.fx-right{font-size:3rem;}
#withdraw .heads .balance{margin-bottom:2rem;}
#withdraw .heads .balance span.sum{font-size:4rem;font-weight:bold;}
#withdraw .heads .balance em.txt{font-size:1.5rem;}
#withdraw .heads .btnbox a.btn{padding:.8rem 2.6rem;border-radius:2rem;box-shadow:0 2px 10px 0 #999;background:#d1ccc9;font-size:1.6rem;color:#fff;}
#withdraw .heads .btnbox a.btn.current{background:#fff;color:#fda422;}
#withdraw .hint{padding:1rem;font-size:1.5rem;color:#656565;}
#withdraw .hint>*{margin-bottom:1.8rem;}
#withdraw .hint .title{position:relative;}
#withdraw .hint .title:before,#withdraw .hint .title:after{content:'';width:4rem;height:1px;background:#bdbdbd;position:absolute;top:50%;}
#withdraw .hint .title:before{left:24%;}
#withdraw .hint .title:after{right:24%;}
/*绑定账户*/
#withdraw .binding .input{margin:0 1rem;padding:.4rem 1rem;border-bottom:1px solid #ddd;font-size:1.6rem;}
#withdraw .binding .input span{width:5rem;font-size:1.6rem;}
#withdraw .binding .input input{height:4rem;}
/******************** 提现记录 ***********************/
#record .date{background: #fff;}
#record .list{padding:1rem 2rem;border-bottom:1px solid #c9c9c9;}
#record .list:last-child{border-bottom:none;}
#record .top h2{padding-bottom:1rem;font-size:2rem;}
#record .bottom p{height:2rem;font-size:1.8rem;color:#969696;}
#record .bottom p.state{font-weight:bold;color:#ffd541;}
/******************** 我的奖励 ***********************/
#Income .head{padding:2rem 0 5rem;font-size:1.8rem;color:#fff;}
#Income .head span.sum{font-size:4rem;}
#Income .nav_lists{top:10.8rem;}
#Income .nav_lists .nav span.num{font-size:2rem;color:#fdb143;}
#Income .nav_lists .nav i.line{width:1px;height:3rem;background:#ddd;}
#Income .nav_lists .detail i.fx{color:#2b8fde;}
#Income .nav_lists .withdraw i.fx{color:#d1504c;}
#Income .nav_lists .log i.fx{color:#eca53f;}
/******************** 实名认证 ***********************/
.form .hint{padding:.8rem .4rem;font-size:1.4rem;color:#fdb143;}
.form .members .list{padding:0 1rem;font-size:1.6rem;}
.form .members .list .input{padding:1.2rem 0;border-bottom:1px solid #ddd;}
.form .members .list .input:last-child{border-bottom:none;}
.form .members .list .input input{height:auto;}
.form .members .list .input span.tit{width:8rem;}
#certification.form .members .list .input a.code_btn{margin-left:1rem;padding:.4rem .8rem;border-radius:.6rem;border:1px solid #fdb143;font-size:1.4rem;color:#fdb143;}
#certification.form .members .list .input a.code_btn.current{border-color:#bbb;color:#bbb;}
.form .members .submit{margin:2rem auto;padding:1rem 2rem;width:14rem;border-radius:1rem;font-size:1.6rem;color:#fff;}
.form .members .submit.original{background:#bbb;}
/******************** 添加成员 ***********************/
#add .members .list-t{padding:.8rem 1rem;font-size:1.5rem;}
#add .members .list-t i.fx-close{font-size:2.6rem;color:#bbb;}
#add .members .add_btn{margin:2rem 0;padding:.6rem 0;border-top:1px solid #fdb143;border-bottom:1px solid #fdb143;font-size:1.6rem;color:#fdb143;}
#add .members .add_btn i.fx-add{font-size:3.2rem;color:#fdb143;}
/******************** 购买会员 ***********************/
#purchase .head .card_name{padding:1rem;background:#ff9909;font-size:1.6rem;color:#fff;}
#purchase .head .price{position:relative;padding:.6rem 1rem;font-size:1.8rem;}
#purchase .head .price em.discount{margin-left:1rem;padding:.2rem .4rem;border-radius:.4rem;background:#fdb143;font-size:1.2rem;color:#fff;}
.introduce{margin-top:1rem;padding:0 1rem 1rem;}
.introduce p.title{padding:.8rem 0;font-weight:bold;font-size:1.8rem;color:#fdb143;}
.introduce p.text,.introduce p.explain{font-size:1.6rem;}
.introduce p.explain{padding:1rem 0;color:#fdb143;}
.introduce p.explain i.fx-v{margin-right:.6rem;font-size:2rem;color:#fdb143;}
.introduce p.explain span{width:calc(100% - 2.4rem)}
.introduce table.box th{padding:.6rem 0;width:33%;font-size:1.6rem;color:#fff;}
.introduce table.box th.type{background:#fda422;}
.introduce table.box th.content{background:#fbbb63;}
.introduce table.box th.benefit{background:#fed498;}
.introduce table.box tr{border-bottom:6px solid #fff;}
.introduce table.box td{padding:1rem .4rem;font-size:1.4rem;}
.introduce table.box tr td:nth-child(1){background:#efeaf0;text-align:center;}
.introduce table.box tr td:nth-child(2){background:#f1f1f1;}
.introduce table.box tr td:nth-child(3){background:#f7f6fb;text-align:center;color:#fdb143;}
.introduce table.box tr td:nth-child(3) ul{text-align:left;}
#purchase a.buy_btn{position:relative;height:5rem;background:#fda422;box-shadow:0 -2px 10px 2px #ccc;font-size:1.6rem;color:#fff;}
/******************** 我的权益 ***********************/
#benefit .head{padding:.6rem 1rem 1rem;}
#benefit .head .card_box{margin-bottom:.4rem;width:100%;font-size:1.6rem;}
#benefit .head .card_box i.fx-card{font-size:3rem;color:#fdb143;}
#benefit .head .card_box .check{color:#bbb;}
#benefit .head .card_box .check i.fx-right{font-size:2rem;}
#benefit .add_box{position:relative;box-shadow:0 -2px 10px 2px #ccc;}
#benefit a.add_btn{margin:1rem auto;width:20rem;padding:.8rem 2rem;border-radius:1rem;font-size:1.8rem;color:#fff;}
#benefit a.add_btn i.fx-add{margin-bottom:-.2rem;font-size:3rem;}
/******************** 推广奖励 ***********************/
#generalize{background: url("../image/generalize_bj.jpg")no-repeat;background-size:100% 100%;color:#fff;}
#generalize .head{margin-top:1rem;}
#generalize .head .text{width:16rem;}
#generalize .head .hint{padding:1rem 0;font-size:1.4rem;}
#generalize .head a.award_btn{padding:.6rem 2rem;border-radius:2rem;background:linear-gradient(to bottom, #afdcf7, #12b8f6);box-shadow:0 4px 12px 0 #f54413;font-size:1.6rem;}
#generalize .rule{padding:0 1rem;}
#generalize .rule .title{margin:4rem 0;font-weight:bold;font-size:1.8rem;}
#generalize .rule .text{line-height:1.6em;font-size:1.5rem;}
#generalize .box{padding:0 .6rem;width:100%;}
#generalize .btn_box a{background:url("../image/push_btn_bj.png")no-repeat;background-size:100% 100%;padding:1.4rem;line-height:1.2em;font-weight:bold;font-size:1.5rem;color:#e94f22;}
/******************** 一键呼救 ***********************/
#sos .title_box{padding:.6rem 0;}
#sos .title_box .tit{padding:.2rem 0;font-weight:bold;font-size:2rem;}
#sos .title_box .subtitle{font-size:1.5rem;color:#bbb;}
#sos .tab a.btn{width:50%;height:4rem;border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-size:1.8rem;}
#sos .tab a.btn.current{background:#ff9909;color:#fff;border-color:transparent;}
#sos .box .tab_box{width:100%;padding-bottom:1rem;}
#sos .box .tab_box.current{display:none;}
#sos .box .brief{padding:1rem;font-size:1.6rem;}
#sos .box .brief .text{margin-bottom:1rem;line-height:2rem;color:#999;}
#sos .box .brief .text span{color:#f70604;}
#sos .box .brief .sos_btn{width:10rem;height:10rem;border-radius:50%;overflow:hidden;background:linear-gradient(to bottom, #f55d5f, #f70604);box-shadow:0 2px 12px 0 #f94d43;font-size:1.6rem;color:#fff;}
#sos .box .lists .list{padding:1rem .6rem 1rem 1rem;border-bottom:1px solid #ddd;}
#sos .box .lists .title{font-size:1.8rem;color:#fdb143;}
#sos .box .lists .name{width:14rem;font-size:1.6rem;}
#sos .box .lists .describe{font-size:1.4rem;color:#bbb;}
#sos .box .lists a.btn{margin-left:.6rem;padding:.2rem 1.4rem;border:1px solid #fdb143;box-shadow:0 0 4px 0 #fdb143;border-radius:2rem;font-size:1.6rem;color:#fdb143;}
#sos a.nearby_btn{height:5rem;background:#ff9909;font-size:1.6rem;color:#fff;}
#alert .help .button a.continue{background:#fff;border:1px solid #fda422;color:#fda422;}



