@import url(https://at.alicdn.com/t/font_868088_4f5ptec0yin.css);.fx{-webkit-text-stroke-width:0;overflow:hidden;}
/********************* ↑ icon图标 ↑ *************************/
html,body{font-size:calc(100vw/37.5);height:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100% !important;font-family: "Roboto", "Open Sans", "PingFang", "PingFang SC", "PingFang HK", "PingFang TC", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue",'\5FAE\8F6F\96C5\9ED1',Arial,'\9ED1\4F53','\5B8B\4F53',Helvetica, sans-serif;}
*{margin:0;padding:0;box-sizing:border-box;-webkit-touch-callout:none;}
html,body,div,ul,ol,li,dl,dt,dd,form,input,textarea,table,h1,h2,h3,h4,p,span,a,em,i,img{font-style:normal;}
iframe,a,img{border:none;}
video{object-fit:fill}
a,a:hover,a:visited,a:active{text-decoration:none;color:inherit;}
ol,ul{list-style-type:none;}
ul li, ol li{list-style:none;}
h1,h2,h3{font-weight:normal;}
table{border-collapse:collapse;}
button,input,select,textarea{font:inherit;outline:0;border:0;border-radius:0;-webkit-tap-highlight-color:transparent;appearance:none;-webkit-appearance:none;background:0 0;line-height:normal;-webkit-writing-mode:horizontal-tb;resize:none;color:inherit;white-space:pre-wrap;word-wrap:break-word;-webkit-rtl-ordering:logical;user-select:text}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button,input::-webkit-search-cancel-button,input::-webkit-clear-button{-webkit-appearance:none !important;}  /*移除表单默认样式*/
input[type=file]{position:absolute;top:0;left:0;bottom:0;right:0;opacity:0;width:100%;height:100%;}
.twinkle{-webkit-tap-highlight-color:transparent;}  /*ios下点击闪现灰色半透明背景*/
/**************************************************/
.flex{display:-webkit-box;}
.flexv{display:-webkit-box;-webkit-box-orient:vertical;}  /*垂直排列*/
.flexitem{display:-webkit-box;-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.flexitemv{display:-webkit-box;-webkit-box-flex:1;-webkit-flex:1;flex:1;-webkit-box-orient:vertical;}
.center{-webkit-box-align:center;-webkit-box-pack:center;}
.centerv{-webkit-box-align:center;}  /*垂直居中*/
.centerh{-webkit-box-pack:center;}  /*水平居中*/
.endh{-webkit-box-pack:end;}  /*水平向右*/
.endv{-webkit-box-align:end;} /*垂直向下*/
.endhc{-webkit-box-align:end;-webkit-box-pack:center;}  /*水平结构居中底部,垂直结构居中靠右*/
.endvc{-webkit-box-align:baseline;-webkit-box-pack:end;} /*水平结构右上角,垂直结构居中底部*/
.end{-webkit-box-align:end;-webkit-box-pack:end;}
.between{display:flex;justify-content:space-between;align-items:center;} /*水平两端对齐-webkit-box-pack:justify;-webkit-box-align:center;*/
.aroundh{display:flex;justify-content:space-around;align-items:center;}  /*水平等间距*/
.aroundv{display:flex;flex-direction:column;justify-content:space-around;} /*垂直等间距*/
.cross{display:flex;flex-direction:column;justify-content:space-between;}  /*垂直对齐两端*/
.crossc{display:flex;flex-direction:column;justify-content:space-between;align-items:center;}  /*垂直对齐两端居中*/
.cross-end{display:flex;flex-direction:column;justify-content:space-between;align-items:flex-end;}  /*垂直对齐两端靠右*/
.br{display:flex;flex-wrap:wrap;}  /*换行*/
.unbr{display:flex;flex-wrap:nowrap} /*不换行*/
.wrap{height:100%;}
.minh,.min-content{min-height:100%;}
.fitimg{width:100%;height:100%;object-fit:cover;}
.radimg{width:100%;height:100%;border-radius:50%;object-fit:cover;}
.mainbox{position:relative;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;}
/*.mainbox::-webkit-scrollbar{display:none;} !*清除滚动条*!*/
/************************ 动画 **************************/
@keyframes progresses{0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}
@-webkit-keyframes progresses{0%{-webkit-transform: rotate(0deg);}100%{-webkit-transform: rotate(360deg);}}
@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3);}50%{opacity:1}}
@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3);}50%{opacity:1}}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}
@-webkit-keyframes fadeOutUp{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}
@keyframes fadeOutUp{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}
/********************** ios开关样式 ********************/
#uiswitch{width:4.4rem;height:2.4rem;position:relative;border-radius:1.6rem;cursor:pointer;z-index:0;background-color:#999;transition-duration:.6s;transition-timing-function:ease-in-out}
#uiswitch::after{content:'';width:2rem;height:2rem;position:absolute;border-radius:27px;background:#fff;z-index:2;top:2px;left:2px;box-shadow:0 0 1px 0 rgba(0,0,0,.25),0 4px 11px 0 rgba(0,0,0,.08),-1px 3px 3px 0 rgba(0,0,0,.14);-webkit-transition:-webkit-transform .3s,width 280ms;transition:transform .3s,width 280ms;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition-timing-function:cubic-bezier(.42,.8,.58,1.2);transition-timing-function:cubic-bezier(.42,.8,.58,1.2)}
#uiswitch:checked{background-color:#4CD964;background-image:-webkit-linear-gradient(-90deg,#4CD964 0,#4dd865 100%);background-image:linear-gradient(-180deg,#4CD964 0,#4dd865 100%)}
#uiswitch:checked::after{-webkit-transform:translate3d(16px,0,0);transform:translate3d(16px,0,0);right:18px;left:inherit}
/********************* 加载动画 *************************/
#loading{position:fixed;top:0;right:0;left:0;bottom:0;background:rgba(0,0,0,0.2);z-index:99999999;}
#loading .container{position:absolute;top:50%;left:50%;margin-left:-6rem;margin-top:-6rem;width:10rem;height:10rem;padding:1rem;border-radius:.6rem;background:#333;display:-webkit-box;-webkit-box-pack:center;-webkit-box-align:center;-webkit-box-orient:vertical;overflow:hidden}
#loading .loader,#loading .loader:before,#loading .loader:after{border-radius:50%;}
#loading .loader:before,#loading .loader:after {position:absolute;content:'';}
#loading .loader:before{width:2.2rem;height:4.4rem;background:#333;border-radius:4.4rem 0 0 4.4rem;top:-.2rem;left:-.4rem;-webkit-transform-origin:2.2rem 2.1rem;transform-origin:2.2rem 2.1rem;-webkit-animation:progresses 2s infinite ease 1.5s;animation:progresses 2s infinite ease 1.5s}
#loading .loader{font-size:11px;text-indent:-99999em;margin:0 auto;position:relative;width:4rem;height:4rem;box-shadow:inset 0 0 0 .4rem #FFF}
#loading .loader:after{width:2.2rem;height:4.4rem;background:#333;border-radius:0 4.4rem 4.4rem 0;top:-.3rem;left:2rem;-webkit-transform-origin:0 2.3rem;transform-origin:0 2.3rem;-webkit-animation:progresses 2s infinite ease;animation:progresses 2s infinite ease}
#loading .text{text-align:center;padding-top:.8rem;font-size:1.6em;color:#fff}
/*********************   弹框   *************************/
#alert{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.5);z-index:10;}
#alert .mask{position:absolute;top:0;right:0;bottom:0;left:0;cursor:pointer;}
#alert .content{position:absolute;top:16%;left:10%;width:80%;border-radius:1.2rem;max-height:34rem;overflow-x:hidden;overflow-y:auto;animation:zoomIn .2s linear .2s both;-webkit-overflow-scrolling:touch;}
#alert .content .title{padding:1rem 0;font-size:1.8rem;}
#alert .content .text{padding:1rem;font-size:1.6rem;}
#alert .content .button{padding:1rem 0;}
#alert .content .button a.btn{background:#fda422;padding:1rem 2rem;border-radius:2rem;font-size:1.6rem;color:#fff;}
/********************* 共有属性 *************************/
html,body{background:#f7f3f0;}
.bg_white{background:#fff;}
.bg_grad{background:linear-gradient(to right top, #e88f0a, #fabc5f);}

/********************* 我的 *************************/
#home .head{padding:2rem 0 5rem 1rem;font-size:1.8rem;}
#home .head .userInfo .img{width:6rem;height:6rem;border-radius:50%;overflow:hidden;border:1px solid #fff;}
#home .head .userInfo .name{margin:0 1rem;color:#fff;-webkit-line-clamp:1;overflow:hidden;}
#home .head .userInfo .fx-redact{font-size:2rem;color:#fff;}
#home .head .back{padding:.6rem 1rem;color:#fdb143;border-top-left-radius:2rem;border-bottom-left-radius:2rem;}
#home .nav_lists,#Income .nav_lists{padding:0 1rem;position:absolute;top:10rem;left:50%;width:100%;transform:translateX(-50%);}
#home .nav_lists .bg_white,#Income .nav_lists .bg_white{margin-bottom:2rem;-webkit-box-shadow: 0 2px 10px 0 #ccc;box-shadow:0 2px 10px 0 #ccc;border-radius:1rem;font-size:1.6rem;}
#home .nav_lists .nav,#Income .nav_lists .nav{padding:.6rem 0;}
#home .nav_lists .bg_white i.fx,#Income .nav_lists .bg_white i.fx{font-size:2.6rem;}
#home .nav_lists .nav i.fx{color:#fdb143;}
#home .nav_lists .list,#Income .nav_lists .list{padding:1rem;border-bottom:1px solid #eee;}
#home .nav_lists .list:last-child,#Income .nav_lists .list:last-child{border-bottom:none;}
#home .nav_lists .list span,#Income .nav_lists .list span{margin-left:1rem;}
#alert .qrcode_box .qrcode-img{margin:0 auto;padding:0 2rem;width:20rem;}
#alert .qrcode_box .text{margin-bottom:1rem;}
/******************** 推广明细 ***********************/
#detail .nav{background:#fdb143;font-size:1.8rem;color:#fff;}
#detail .nav a span{padding:1rem 0;border-bottom:4px solid transparent;}
#detail .nav a.current span{border-color:#fff;}
#detail .content>.box{display:none;width:100%;}
#detail .content>.box.current{display:table}
#detail .content .all{padding:1rem;font-size:1.6rem;}
#detail .content .all .between{padding:1rem .6rem;}
#detail .content .all .bg_white{box-shadow:0 2px 10px 0 #ccc;-webkit-box-shadow: 0 2px 10px 0 #ccc;}
#detail .content .all .total{margin-bottom:1rem;border-radius:.4rem;color:#fdb143;}
#detail .content .all .list{border-radius:.4rem;}
#detail .content .all .list>div{border-bottom:1px solid #eee;}
#detail .content .all .list>div:last-child{border-bottom:none;}
#detail .content table.box thead{background:#f94d43}
#detail .content table.box tr{height:3rem}
#detail .content table.box tr.vip{color:#f00;}
#detail .content table.box th,#detail .content table.box td{text-align:center;border:1px solid #ad9006;}
#detail .content table.box th{height:4rem;font-size:1.5rem;}
#detail .content table.box td{font-size:1.4rem;}
/******************** 服务历史 ***********************/
#service{padding:1rem 1rem 0;}
#service .list{margin-bottom:1rem;padding:1rem;border-left:.6rem solid #fdb143;box-shadow:0 2px 10px 0 #ccc;-webkit-box-shadow: 0 2px 10px 0 #ccc;font-size:1.6rem;}
#service .list>div{padding:.2rem 0;}
#service .list>div>span{width:8rem;}
/******************** 开通记录 ***********************/
#open_record{padding:0 1rem;}
#open_record .hint{padding:.4rem 0;font-weight:bold;font-size:1.4rem;color:#f00;}
#open_record .list{position:relative;margin-bottom:1rem;border-radius:1rem;box-shadow:0 0 10px 0 rgba(0,0,0,.5)}
#open_record .list.fx-past{-webkit-filter: grayscale(100%);filter: grayscale(100%);}
#open_record .list.fx-past:before{position:absolute;top:50%;left:90%;transform:translate(-80%, -30%);font-size:10rem;color:#ddd;}
#open_record .list .infobox{position:absolute;top:0;left:0;right:0;bottom:0;color:#fff;}
#open_record .list .infobox .time{margin:3rem 1rem 0 0;font-size:1.6rem;}
#open_record .list .infobox .userInfo{margin:0 0 5rem 1rem;font-size:1.6rem;}
/******************** 申请提现 ***********************/
#withdraw .heads{position:relative;background:#fda422;padding-bottom:5rem;color:#fff;}
#withdraw .heads .bottom{position:absolute;bottom:0;left:0;height:3rem;}
#withdraw .heads .title{position:relative;margin-top:1rem;font-size:1.7rem;}
#withdraw .heads .title:before,#withdraw .heads .title:after{content:'';width:6rem;height:1px;background:#fff;position:absolute;top:50%;}
#withdraw .heads .title:before{left:10%;}
#withdraw .heads .title:after{right:10%;}
#withdraw .heads .account_box{margin:1rem 0;padding:0 2rem;}
#withdraw .heads .account_box .name{padding-bottom:1rem;font-size:1.8rem;}
#withdraw .heads .account_box .num{font-size:1.6rem;}
#withdraw .heads .account_box i.fx-right{font-size:3rem;}
#withdraw .heads .balance{margin-bottom:2rem;}
#withdraw .heads .balance span.sum{font-size:4rem;font-weight:bold;}
#withdraw .heads .balance em.txt{font-size:1.5rem;}
#withdraw .heads .btnbox a.btn{padding:.8rem 2.6rem;border-radius:2rem;box-shadow:0 2px 10px 0 #999;-webkit-box-shadow:0 2px 10px 0 #999;background:#d1ccc9;font-size:1.6rem;color:#fff;}
#withdraw .heads .btnbox a.btn.current{background:#fff;color:#fda422;}
#withdraw .hint{padding:1rem;font-size:1.5rem;color:#656565;}
#withdraw .hint>*{margin-bottom:1.8rem;}
#withdraw .hint .title{position:relative;}
#withdraw .hint .title:before,#withdraw .hint .title:after{content:'';width:4rem;height:1px;background:#bdbdbd;position:absolute;top:50%;}
#withdraw .hint .title:before{left:24%;}
#withdraw .hint .title:after{right:24%;}
/*绑定账户*/
#withdraw .binding .input{margin:0 1rem;padding:.4rem 1rem;border-bottom:1px solid #ddd;font-size:1.6rem;}
#withdraw .binding .input span{width:5rem;font-size:1.6rem;}
#withdraw .binding .input input{height:4rem;}
/******************** 提现记录 ***********************/
#record .date{background: #fff;}
#record .list{padding:1rem 2rem;border-bottom:1px solid #c9c9c9;}
#record .list:last-child{border-bottom:none;}
#record .top h2{padding-bottom:1rem;font-size:2rem;}
#record .bottom p{height:2rem;font-size:1.8rem;color:#969696;}
#record .bottom p.state{font-weight:bold;color:#ffd541;}
/******************** 我的奖励 ***********************/
#Income .head{padding:2rem 0 5rem;font-size:1.8rem;color:#fff;}
#Income .head span.sum{font-size:4rem;}
#Income .nav_lists{top:10.8rem;}
#Income .nav_lists .nav span.num{font-size:2rem;color:#fdb143;}
#Income .nav_lists .nav i.line{width:1px;height:3rem;background:#ddd;}
#Income .nav_lists .detail i.fx{color:#2b8fde;}
#Income .nav_lists .withdraw i.fx{color:#d1504c;}
#Income .nav_lists .log i.fx{color:#eca53f;}
/******************** 实名认证 ***********************/
.form .hint{padding:.8rem .4rem;font-size:1.4rem;color:#fdb143;}
.form .members .list{padding:0 1rem;font-size:1.6rem;}
.form .members .list .input{padding:1.2rem 0;border-bottom:1px solid #ddd;}
.form .members .list .input:last-child{border-bottom:none;}
.form .members .list .input input{height:auto;}
.form .members .list .input span.tit{width:8rem;}
#certification.form .members .list .input a.code_btn{margin-left:1rem;padding:.4rem .8rem;border-radius:.6rem;border:1px solid #fdb143;font-size:1.4rem;color:#fdb143;}
#certification.form .members .list .input a.code_btn.current{border-color:#bbb;color:#bbb;}
.form .members .submit{margin:2rem auto;padding:1rem 2rem;width:14rem;border-radius:1rem;font-size:1.6rem;color:#fff;}
.form .members .submit.original{background:#bbb;}
/******************** 添加成员 ***********************/
#add .members .list-t{padding:.8rem 1rem;font-size:1.5rem;}
#add .members .list-t i.fx-close{font-size:2.6rem;color:#bbb;}
#add .members .add_btn{margin:2rem 0;padding:.6rem 0;border-top:1px solid #fdb143;border-bottom:1px solid #fdb143;font-size:1.6rem;color:#fdb143;}
#add .members .add_btn i.fx-add{font-size:3.2rem;color:#fdb143;}
/******************** 购买会员 ***********************/
#purchase .head .banner{padding:1rem;}
#purchase .head .card_name{padding:1rem;background:#ff9909;font-size:1.6rem;color:#fff;}
#purchase .head .price{position:relative;padding:.6rem 1rem;font-size:1.8rem;}
#purchase .head .price em.discount{margin-left:1rem;padding:.2rem .4rem;border-radius:.4rem;background:#fdb143;font-size:1.2rem;color:#fff;}
.introduce{margin-top:1rem;padding:0 1rem 1rem;}
.introduce .fx{margin-right:.6rem;font-size:3rem;color:transparent;background:linear-gradient(to bottom,#ff9749,#ff6123);-webkit-background-clip:text;}
.introduce p.title{padding:.8rem 0;font-weight:bold;font-size:1.8rem;color:#fa711c;}
.introduce p.text,.introduce p.explain{padding-left:2rem;font-size:1.6rem;}
.introduce p.explain{padding:1rem 0;}
.introduce p.explain i.icon{margin-right:.6rem;width:3.6rem;height:4rem;background:url(../image/VIP.png)no-repeat center / cover;}
.introduce p.explain span{font-size:1.6rem;color:#fa711c;}
.introduce .tabel .list{position:relative;margin-top:1rem;border:1px solid #e6e6e6;border-radius:.5rem;background:#f8f8f8;}
.introduce .tabel .list .title{font-size:1.6rem;color:#fff;border-radius:.5rem .5rem 0 0;background:linear-gradient(to right,#ff9d4e,#ff7a46);}
.introduce .tabel .list .text{padding:1rem;width:50%;font-size:1.4rem;}
.introduce .tabel .list .text:first-child{border-right:1px solid #fccdb0;}
.introduce .tabel .list .text b{color:#333}
.introduce .tabel .list .text span{color:#666}
.introduce .tabel .list .rights{position:absolute;top:-.4rem;left:0;width:4.5rem;height:2.2rem;border-radius:.5rem 0 .5rem 0;font-size:1.4rem;color:#fff;background:linear-gradient(to bottom,#f83939,#ea1111);}
#purchase a.buy_btn,#benefit a.buy_btn{margin:1rem;height:4.5rem;border-radius:5rem;font-size:1.6rem;color:#fff;background:linear-gradient(to right,#fc9038,#f8662c);}
#purchase .foot{margin:1rem 0;font-size:1.4rem;color:#999}
#purchase .foot .cheack{position:relative;width:1.6rem;height:1.6rem;margin-right:.4rem;border:1px solid #bbb;}
#purchase .foot .cheack:checked{background:linear-gradient(to right,#ff9d4e,#ff7a46);border-color:#ff7a46;}
#purchase .foot .cheack:checked:before{position:absolute;top:0;left:0;right:0;bottom:0;font-family:"fx"!important;content:'\e62a';line-height:1.6rem;text-align:center;overflow:hidden;color:#fff;}
#purchase .foot>span>em{border-bottom:1px solid #ff6a0d;color:#ff6a0d;}
/******************** 我的权益 ***********************/
#benefit .head{padding:.6rem 1rem 1rem;}
#benefit .head .card_box{margin-bottom:.4rem;width:100%;font-size:1.6rem;}
#benefit .head .card_box i.fx-card{font-size:3rem;color:#fdb143;}
#benefit .head .card_box .check{color:#bbb;}
#benefit .head .card_box .check i.fx-right{font-size:2rem;}
/******************** 推广奖励 ***********************/
#generalize{background: url("../image/generalize_bj.jpg")no-repeat;background-size:100% 100%;color:#fff;}
#generalize .head{margin-top:1rem;}
#generalize .head .text{width:16rem;}
#generalize .head .hint{padding:1rem 0;font-size:1.4rem;}
#generalize .head a.award_btn{padding:.6rem 2rem;border-radius:2rem;background:linear-gradient(to bottom, #afdcf7, #12b8f6);box-shadow:0 4px 12px 0 #f54413;-webkit-box-shadow:0 4px 12px 0 #f54413;font-size:1.6rem;}
#generalize .rule{padding:0 1rem;}
#generalize .rule .title{margin:4rem 0;font-weight:bold;font-size:1.8rem;}
#generalize .rule .text{line-height:1.6em;font-size:1.5rem;}
#generalize .box{padding:0 .6rem;width:100%;}
#generalize .btn_box a{background:url("../image/push_btn_bj.png")no-repeat;background-size:100% 100%;padding:1.4rem;line-height:1.2em;font-weight:bold;font-size:1.5rem;color:#e94f22;}
/******************** 一键呼救 ***********************/
#sos .content-box{padding-top:1rem;}
#sos .content-box.intro{margin:0 1rem;box-shadow:0 0 10px 0 rgba(242, 102, 39, .3);}
#sos .tab{width:80%;border:1px solid #f37a42;border-radius:.5rem;font-size:1.8rem;}
#sos .tab a.btn{width:50%;height:4rem;color:#f97330}
#sos .tab a.btn.current{color:#fff;background:linear-gradient(to bottom, #fc8e38, #f8692c);}
#sos .box{width:100%;}
#sos .box .tab_box{width:100%;padding-bottom:1rem;}
#sos .box .tab_box.current{display:none;}
#sos .box .brief{position:relative;padding:1rem 1rem 4rem;font-size:1.6rem;}
#sos .box .brief .text{margin-bottom:1rem;line-height:2rem;color:#666;}
#sos .box .brief .text span{color:#fb8234;}
#sos .box .brief .sos_btn{position:absolute;bottom:-3.6rem;left:50%;transform:translateX(-50%);width:8rem;height:8rem;border-radius:50%;overflow:hidden;background:linear-gradient(to bottom, #ffd7ae, #fb5502);box-shadow:0 3px 10px 0 rgba(251, 114, 3, .3), 0 0 0 4px #fff inset;font-size:1.5rem;color:#fff;}
#sos .box .lists .list{padding:1rem .6rem 1rem 1rem;border-bottom:1px solid #ddd;}
#sos .box .lists .title{margin-top:1rem;padding:1rem;font-size:1.8rem;color:#f16326;background:#fff0da;}
#sos .box .lists .name{padding:.4rem 0;font-size:1.6rem;}
#sos .box .lists .describe{font-size:1.4rem;color:#666;}
#sos .box .lists .describe em{color:#f16226}
#sos .box .lists a.btn{margin-left:.6rem;padding:.5rem 2.6rem;border-radius:2rem;font-size:1.6rem;color:#fff;background:linear-gradient(to right,#fc9038,#f8662c);}
#sos .foot a{width:50%;height:5rem;font-size:1.6rem;color:#fff;}
#sos .foot a.nearby_btn{background:linear-gradient(to right,#f7c95b,#f1ba45);}
#sos .foot a.mine{background:linear-gradient(to right,#f58731,#f16125);}
#alert .help .button a.continue{background:#fff;border:1px solid #fda422;color:#fda422;}
/******************** 登录 ***********************/
.heads-com .nav{width:100%;}
.heads-com .nav .text{position:relative;padding:1rem 0;font-size:1.6rem;}
.heads-com .nav .text.current{color:#f56a26;}
.heads-com .nav .text.current:before{content:'';position:absolute;top:0;left:50%;transform:translateX(-50%);border:.8rem solid transparent;border-top-color:#fc8d3c;}
.heads-com .nav .logo{position:relative;}
.heads-com .nav .logo:before{content:'';position:absolute;top:-7rem;left:50%;transform:translateX(-50%);width:10rem;height:10rem;border-radius:50%;background:url(../image/sign_fj_bj.png);background-size:100% 100%;}
#login .login-cont{padding:0 1.6rem;}
#login .login-cont .min{width:100%;min-height:100%;}
#login .login-form{width:100%;}
#login .login-form>form{margin-top:2rem;width:100%;display:none}
#login .login-form .item{border-bottom:1px solid #ddd;}
#login .login-form .item i.fx{font-size:2.6rem;}
#login .login-form .item input{margin:0 1rem;height:5rem;font-size:1.6rem;}
#login .login-form .item .code_btn{margin:1rem 0;padding:0 1rem;border-left:1px solid #ddd;font-size:1.4rem;color:#f56a26;}
#login .login-form .item .code_btn.current{color:#bbb;}
#login .login-form .bottom{padding:1rem 0;font-size:1.4rem;}
#login .login-form .bottom .msg{color:#f56a26;}
#login .login-form .bottom .forget{color:#bbb;}
#login .login-form .submit{margin:2rem 0;padding:1rem 0;border-radius:4rem;font-size:1.6rem;color:#fff;background:linear-gradient(to right, #f7a421, #f46a22);}
#login .login-cont .foot{width:100%;}
#login .login-cont .foot .third-part-title{position:relative;font-size:1.4rem;color:#ccc;}
#login .login-cont .foot .third-part-title:before{content:'';position:absolute;top:45%;left:0;width:28%;height:1px;background:#ccc;}
#login .login-cont .foot .third-part-title:after{content:'';position:absolute;top:45%;right:0;width:28%;height:1px;background:#ccc;}
#login .login-cont .foot .third-part-list{padding:1rem 0;color:#6cc41a;}
#login .login-cont .foot .third-part-list .fx-wechat{font-size:6rem;color:#6cc41a;}
#login .login-cont .foot .third-part-list>span{font-size:1.4rem;}
/******************** 注册 ***********************/
#register .step{margin:1rem 0;overflow:hidden;}
#register .step .rad{z-index:2;position:relative;color:#b5b5b5;}
#register .step .rad i.fx{z-index:2;position:relative;margin-bottom:.2rem;width:3rem;height:3rem;border-radius:50%;font-size:2.4rem;color:#fff;background:#b5b5b5;}
#register .step .rad>em{height:2.2rem;font-size:1.6rem;}
#register .step .rad:before,#register .step .rad:after{content:'';position:absolute;top:1.4rem;width:8.8vw;height:2px;background:#b5b5b5}
#register .step .rad:before{left:-8.8vw}
#register .step .rad:after{right:-8.8vw}
#register .step .rad:first-child:before{background:linear-gradient(to right,#fff,#b5b5b5)}
#register .step .rad:last-child:after{background:linear-gradient(to left,#fff,#b5b5b5)}
#register .step .rad.current{color:#f46821}
#register .step .rad.current i.fx,#register .step .rad.current:before,#register .step .rad.current:after{background:#f46821}
#register .step .rad.current:first-child:before{background:linear-gradient(to right,#fff,#f46821)}
#register .step .rad.current:last-child:after{background:linear-gradient(to left,#fff,#f46821)}
#register .register-cont{margin:0 1.6rem;}
#register .register-cont .min{width:100%;min-height:100%;}
#register .register-cont .min>*{display:none;width:100%;}
#register .register-cont form .item{border-bottom:1px solid #ddd;}
#register .register-cont form .tit{margin:1rem 0;font-size:1.6rem;color:#777}
#register .register-cont form .item i.fx{font-size:2.6rem;}
#register .register-cont form .item input{margin:0 1rem;height:5rem;font-size:1.6rem;}
#register .register-cont form .item .code_btn{margin:1rem 0;padding:0 1rem;border-left:1px solid #ddd;font-size:1.4rem;color:#f56a26;}
#register .register-cont form .item .code_btn.current{color:#bbb;}
#register .register-cont form .item .codeImg{width:6rem;}
#register .register-cont .reg1 .foot{margin:1rem 0;font-size:1.5rem;color:#ccc;}
#register .register-cont .reg1 .foot a.tcp{color:#f46821}
#register .register-cont .reg2 .tit{margin:1rem 0;font-size:1.4rem;}
#register .register-cont .reg2 .tit>span{color:#f56a26}
#register .register-cont .reg4 .sucImg{width:12rem;height:12rem;}
#register .register-cont .reg4 em{margin:1rem 0;font-size:1.6rem;}
#register .register-cont>* .submit{margin-top:2.4rem;padding:1rem 0;border-radius:4rem;font-size:1.6rem;color:#fff;background:linear-gradient(to right, #f7a421, #f46a22)}
/******************** 绑定微信 ***********************/
#bindWX{background:#fff}
#bindWX .bind{padding:2rem 1.6rem;}
#bindWX .bind .item{border-bottom:1px solid #ddd;}
#bindWX .bind .item i.fx{font-size:2.6rem;}
#bindWX .bind .item input{margin:0 1rem;height:5rem;font-size:1.6rem;}
#bindWX .bind .item .code{margin:1rem 0;padding:0 1rem;border-left:1px solid #ddd;font-size:1.4rem;color:#f56a26;}
#bindWX .bind .item .code.current{color:#bbb;}
#bindWX .bind .bottom{margin-top:4rem;}
#bindWX .bind .bottom .submit{margin:.6rem 0;padding:1rem 0;border-radius:4rem;font-size:1.6rem;color:#fff;background:linear-gradient(to right, #f7a421, #f46a22);}
#bindWX .bind .bottom .tit{font-size:1.3rem;color:#999}
/******************** 找回密码 ***********************/
#forget form{padding:2rem 1.6rem;display:none;}
#forget form .item{border-bottom:1px solid #ddd;}
#forget form .item i.fx{font-size:2.6rem;}
#forget form .item input{margin:0 1rem;height:5rem;font-size:1.6rem;}
#forget form .item .code_btn{margin:1rem 0;padding:0 1rem;border-left:1px solid #ddd;font-size:1.4rem;color:#f56a26;}
#forget form .item .code_btn.current{color:#bbb;}
#forget form .item .codeImg{width:6rem;}
#forget form .submit{margin:2rem 0;padding:1rem 0;border-radius:4rem;font-size:1.6rem;color:#fff;background:linear-gradient(to right, #f7a421, #f46a22)}
#forget form.reset .phone{margin:1rem 0;font-size:1.4rem;}
#forget form.reset .phone>span{color:#f56a26}
/******************** 推广用户 ***********************/
#invite>*{display:none;}
#invite .min{min-height:100%;}
#invite .verify{background:#fff url("../image/verify-bj.png")no-repeat;background-position:top;background-size:100%;}
#invite .verify-form{position:relative;padding:0 2rem;width:90%;height:20rem;border-radius:.6rem;box-shadow:0 2px 10px 2px #e2b6ac;background:#fff url("../image/invite-wavy.png")no-repeat;background-position:bottom;background-size:100%;}
#invite .verify-form .title{position:absolute;top:-1rem;left:50%;transform:translateX(-50%);width:18rem;height:3rem;border-radius:.6rem;background:#ca2a2b;font-size:1.6rem;color:#fff;}
#invite .verify-form .title:before,#invite .verify-form .title:after{content:'';position:absolute;top:.5rem;border:.6rem solid transparent;border-left-color:#6e131d;}
#invite .verify-form .title:before{left:-.5rem;transform:rotate(45deg)}
#invite .verify-form .title:after{right:-.5rem;transform:rotate(130deg)}
#invite .verify-form .title .name{max-width:6rem;-webkit-line-clamp:1;overflow:hidden;}
#invite .verify-form .item{margin:1rem 0;width:100%;height:4rem;border:2px solid #e6e6e6;border-radius:2rem;font-size:1.6rem;}
#invite .verify-form .item input{padding:0 2rem;height:100%;}
#invite .verify-form .slider{position:relative;overflow:hidden;color:#f36312;user-select:none;}
#invite .verify-form .slider .slider_bg{position: absolute;left:0;top:0;height:100%;background:#f1a15b;}
#invite .verify-form .slider .label{position:absolute;top:0;left:0;width:5rem;height:100%;background:#f1a15b url('../image/sliding.png')no-repeat;background-size:100% 100%;}
#invite .verify-form .slider .text{position:relative;}
#invite .invite{padding:0 1rem 2rem;background:#fa9321 url("../image/invite-bj.png")no-repeat;background-size:96% 100%;background-position:top;}
#invite .invite .title{margin-top:3.6rem;font-size:2.8rem;color:#fff;}
#invite .invite .listImg{margin:3rem auto;width:80%;height:22rem;background:url(../image/invite-list.png)no-repeat;background-size:100% 100%;}
#invite .invite-form{width:90%;}
#invite .invite-form .tit{margin:1rem 0 1rem 1rem;font-size:1.5rem;color:#fff;}
#invite .invite-form .item{border-radius:2rem;background:#fff;font-size:1.5rem;}
#invite .invite-form .item input{padding-left:1rem;height:4rem}
#invite .invite-form .item .code_btn{margin:1rem 0;padding:0 1rem;border-left:1px solid #ddd;font-size:1.4rem;color:#c03030;}
#invite .invite-form .item .code_btn.current{color:#bbb;}
#invite .invite-form a.submit{margin:2rem 0;height:7rem;background:url('../image/invite-no-btn.png')no-repeat;background-size:100% 100%;}
#invite .invite-form a.submit.current{background:url('../image/invite-btn.png')no-repeat;background-size:100% 100%;}
/******************** 付 款 ***********************/
#payment{background:url('../image/payment-bg.png')no-repeat;background-size:100% 100%;}
#payment>*{margin-bottom:2rem;}
#payment .money{color:#fd4c07;}
#payment .money .title{font-size:1.5rem;}
#payment .money .price{font-weight:bold;font-size:4rem;}
#payment .money .type{padding:0 1rem;background:#ff6407;font-size:1.6rem;color:#fff;}
#payment .qrcode_box{border-radius:.6rem;overflow:hidden;background:rgba(255,255,255,.4);}
#payment .qrcode_box .payImg{margin:2rem 4rem;width:14rem;height:14rem;}
#payment .qrcode_box .payImg img{border:2px solid #ff7827;}
#payment .qrcode_box .foot{width:100%;padding:1rem 0;background:#fff;font-size:1.6rem;color:#ff7827;}
#payment .qrcode_box .foot i.fx-sweep{margin-right:1rem;width:2.4rem;height:2.4rem;border-radius:50%;font-size:2.4rem;color:#fff;background:#ff7827;}
#payment .text>p{margin:.2rem 0;padding:.1rem 0;border-bottom:1px solid #fff;font-size:1.4rem;color:#fff;}
#payment a.btn{width:20rem;height:5rem;background:url('../image/payment-btn.png')no-repeat;background-size:100% 100%;}
/******************** 推广二维码 ***********************/
#pushQR{background:#f9af37;}
#pushQR .myCanvas{display:none;width:100%;height:100%}
#pushQR .can{width:100%;height:auto;}
/******************** 填写保单 ***********************/
#policy .cardbox{padding:1rem;}
#policy .cardbox .cardimg{width:10rem;}
#policy .cardbox .explain{margin-left:1rem;}
#policy .cardbox .explain .title{font-size:1.8rem;}
#policy .cardbox .explain .describe{font-size:1.6rem;color:#666;}
#policy .formdata{width:100%;}
#policy .formdata .title{font-size:1.8rem;}
#policy .formdata .input{padding:0 1rem;height:4rem;border-bottom:1px solid #e6e6e6;font-size:1.6rem;}
#policy .formdata .input:last-child{border-bottom:none;color:#f47621;}
#policy .formdata .input>span{width:8rem;}
#policy .formdata .input input{height:100%;}
#policy .foot{padding:1rem;font-size:1.5rem;color:#666;}
#policy .foot .favoree{margin:1rem 0;}
#policy .foot .favoree i.fx{margin-right:.4rem;font-size:2rem;color:#ff9500;}
#policy .foot .treaty .cheack{position:relative;width:1.6rem;height:1.6rem;border-radius:50%;border:1px solid #ff9500;}
#policy .foot .treaty .cheack:checked:before{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);content:'';width:1.2rem;height:1.2rem;border-radius:50%;background:#ff9500;}
#policy .foot .treaty a{color:#f1a438;}
#policy .bottom{height:4.6rem;}
#policy .bottom .price{padding-left:1rem;font-size:1.8rem;color:#ff440a;}
#policy .bottom .submit{width:13rem;font-size:1.8rem;color:#fff;background:linear-gradient(to right, #f4a323, #f46921);}
#policy #alert.info .content.verify{top:25%}
#policy #alert.info .content .title{border-bottom:1px solid #bbb;}
#policy #alert.info .content .text{padding:2rem 1rem;}
#policy #alert.info .content .button{padding:0;}
#policy #alert.info .content .button a.btn{border-radius:0;}
#policy #alert.info .content .button a.btn.cancel{background:#bcbcbc}
#policy #alert.info .content .button a.btn.confirm{background:linear-gradient(to right, #f4a323, #f46921);}


